<div class="user-account-nav user-account-sidebar">
    <div class="user-nav-list">
        <ul>
            <li class="{% if '/customer/' == request.path%}active{% endif %}"><a
                    href="{% url 'customer:customerDashboard' %}"><i class="fa fa-tachometer"></i>Dashboard</a></li>
            <li class="{% if 'cprofile' in request.path %}active{% endif %}"><a href="{% url 'customer:cprofile' %}">
                <i class="fa fa-user-circle"></i>Profile Setting</a></li>
            <li class="{% if 'orders' in request.path %} active {% endif %}"><a href="{% url 'order:order_list'%}">
               <i class="fa fa-shopping-cart"></i> Orders</a></li>
            <li class="{% if 'refund' in request.path %} active {% endif %}"><a href="{% url 'order:refunds' %}"><i class="fa fa-undo"></i>refunds</a></li>



            <li><a class="logout-btn" href="{% url 'accounts:logout'%}"><i class="fa fa-sign-out"></i>Signout</a></li>
        </ul>
    </div>
</div>